<%- include('../layouts/head', {title: 'Signing Engines', user}) -%>
<div class="body">
	<h1>Signing Engines</h1>
	<div class="menu">
		<div class="pages">
			<a class="page" href="/engines">List Signing Engines</a>
			<a class="page" href="/engines/add">Add Signing Engine</a>
		</div>
	</div>
