<%- include('../layouts/head', {title: 'Tokens', user}) -%>
<div class="body">
	<h1>Tokens</h1>
	<div class="menu">
		<div class="pages">
			<a class="page" href="/tokens">List Tokens</a>
			<a class="page" href="/tokens/reload">Reload Tokens</a>
		</div>
	</div>
