<%- include('../layouts/head', {title: 'Signees', user}) -%>
<div class="body">
	<h1>Signees</h1>
	<div class="menu">
		<div class="pages">
			<a class="page" href="/signees">List Signees</a>
			<a class="page" href="/signees/add">Add Signee</a>
		</div>
	</div>
