<%- include('../layouts/head', {title: 'Users', user}) -%>
<div class="body">
	<h1>Users</h1>
	<div class="menu">
		<div class="pages">
			<a class="page" href="/users">All Users</a>
			<a class="page" href="/users/add">Add User</a>
		</div>
	</div>
