<!DOCTYPE html>
<html>
	<head>
		<title>Signo - <%= title %></title>
		<meta charset="UTF-8" />
		<link rel="icon" href="/static/icon.png" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<div class="header">
			<img class="logo" src="/static/icon.png" alt="icon" />
			<p class="title">Signo</p>
			<p class="slogan">Signing service with PKCS#11 support</p>
		</div>